@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nosifer&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Roboto:wght@100&family=Solitreo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply contents;
  }

  html {
    @apply h-full scroll-smooth antialiased;
  }

  body {
    @apply flex h-full flex-col;
  }

  main {
    @apply flex-1;
  }

  .section {
    @apply py-24;
  }

  .container_div {
    @apply max-w-[1200px] m-auto ml-[1rem] mr-[1rem]
  }
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  /* transition: all 0.4s; */
}

.container_main {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0% auto;
  z-index: 0;
}

.swiper-pagination-bullet-active {
  background-color: #ca8a04 !important;
}

.swiper-pagination-bullet {
  background-color: #ca8a04 !important;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #ca8a04 !important;
}

.swiper-slide-visible {
  opacity: 0.6;
  border: 1px solid transparent !important;
}

.swiper-button-next::after {
  content: "";
  background-color: whitesmoke !important;
  border-radius: 50% !important;
  color: black !important;
  font-size: 13px !important;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.swiper-button-prev::after {
  content: "";
  background-color: whitesmoke !important;
  border-radius: 50% !important;
  color: black !important;
  font-size: 13px !important;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* .swiper-pagination-fraction  swiper-pagination-horizontal  */
.swiper-pagination-fraction {
  color: white !important;
  padding: 3px;
  position: fixed !important;
  bottom: 1% !important;
}

/* .swiper-button-prev::after {
  content: "";
  background-color: white !important;
  border-radius: 50% !important;
  color: black !important;
  font-size: 13px !important;
  box-shadow: -0px -0px 5px 2px red;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -70%;
  overflow: hidden;
  z-index: 100;
} */

.dots {
  background-color: red;
}

.shaper {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.myMap {
  filter: grayscale(100%) invert(100%)
}